.post{border-bottom:1px solid #f1f1f1;margin:0 5px 15px 0;padding:0 0 10px}
.post h2{margin:0;font-family:&#39;Oswald&#39;;font-size:18px;font-weight:500}
.post-body {padding:0 0 10px 0;text-align:left;}
#blog-pager{position:relative;display:block;width:100%;margin:15px 10px 15px 0;}
.breadcrumbs{margin:10px;}
.post-thumbnail{background:#fff;width:100px;height:auto;float:left;padding:3px;margin:0 15px 0 0;border:1px solid #ccc;transition:all .3s}
.post-thumbnail:hover{border-color:#aaa;}
.jump-link,span.label-info a.label-block:nth-child(n+2) {display:none;}
.post-snippet{font-size:86%}
@media screen and (max-width:640px) {
.post-thumbnail {width:50px;height:50px;padding:2px;}}
